{% extends 'base_sign.html' %}

{% block content %}

<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
    <div class="login-form">
      <div class="sign-in-htm">
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <input id="check" type="checkbox" class="check" checked>
          <label for="check"><span class="icon"></span> Keep me Signed in</label>
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign In">
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <a href="#forgot">Forgot Password?</a>
        </div>
      </div>
      <div class="sign-up-htm">
        <div class="group">
          <label for="user" class="label">Username</label>
          <input id="user" type="text" class="input">
        </div>
        <div class="group">
          <label for="pass" class="label">Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Repeat Password</label>
          <input id="pass" type="password" class="input" data-type="password">
        </div>
        <div class="group">
          <label for="pass" class="label">Email Address</label>
          <input id="pass" type="text" class="input">
        </div>
        <div class="group">
          <input type="submit" class="button" value="Sign Up">
        </div>
        <div class="hr"></div>
        <div class="foot-lnk">
          <label for="tab-1">Already Member?</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<section class="vh-100">-->
<!--  <div class="container-fluid h-custom">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--      <div class="col-md-9 col-lg-6 col-xl-5">-->
<!--        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"-->
<!--          class="img-fluid" alt="Sample image">-->
<!--      </div>-->
<!--      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">-->
<!--        <form  action='/login/' method="POST">-->
<!--          {% csrf_token %}-->
<!--           {{ error }}-->

<!--          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">-->
<!--            <p class="lead fw-normal mb-0 me-3">Sign in with</p>-->
<!--            <button type="button" class="btn btn-primary btn-floating mx-1">-->
<!--              <i class="fab fa-facebook-f"></i>-->
<!--            </button>-->

<!--            <button type="button" class="btn btn-primary btn-floating mx-1">-->
<!--              <i class="fab fa-twitter"></i>-->
<!--            </button>-->

<!--            <button type="button" class="btn btn-primary btn-floating mx-1">-->
<!--              <i class="fab fa-linkedin-in"></i>-->
<!--            </button>-->
<!--          </div>-->

<!--          <div class="divider d-flex align-items-center my-4">-->
<!--            <p class="text-center fw-bold mx-3 mb-0">Or</p>-->
<!--          </div>-->

<!--          &lt;!&ndash; Email input &ndash;&gt;-->
<!--          <div class="form-outline mb-4">-->
<!--            <input type="email" id="form3Example3" class="form-control form-control-lg"-->
<!--              placeholder="Enter a valid email address" />-->
<!--            <label class="form-label" for="form3Example3">Email address</label>-->
<!--          </div>-->

<!--          &lt;!&ndash; Password input &ndash;&gt;-->
<!--          <div class="form-outline mb-3">-->
<!--            <input type="password" id="form3Example4" class="form-control form-control-lg"-->
<!--              placeholder="Enter password" />-->
<!--            <label class="form-label" for="form3Example4">Password</label>-->
<!--          </div>-->

<!--          <div class="d-flex justify-content-between align-items-center">-->
<!--            &lt;!&ndash; Checkbox &ndash;&gt;-->
<!--            <div class="form-check mb-0">-->
<!--              <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />-->
<!--              <label class="form-check-label" for="form2Example3">-->
<!--                Remember me-->
<!--              </label>-->
<!--            </div>-->
<!--            <a href="#!" class="text-body">Forgot password?</a>-->
<!--          </div>-->

<!--          <div class="text-center text-lg-start mt-4 pt-2">-->
<!--            <button type="button" class="btn btn-primary btn-lg"-->
<!--              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>-->
<!--            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="signup/"-->
<!--                class="link-danger">Register</a></p>-->
<!--          </div>-->

<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div-->
<!--    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-white mb-3 mb-md-0">-->
<!--      Copyright © 2020. All rights reserved.-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->

<!--    &lt;!&ndash; Right &ndash;&gt;-->
<!--    <div>-->
<!--      <a href="#!" class="text-white me-4">-->
<!--        <i class="fab fa-facebook-f"></i>-->
<!--      </a>-->
<!--      <a href="#!" class="text-white me-4">-->
<!--        <i class="fab fa-twitter"></i>-->
<!--      </a>-->
<!--      <a href="#!" class="text-white me-4">-->
<!--        <i class="fab fa-google"></i>-->
<!--      </a>-->
<!--      <a href="#!" class="text-white">-->
<!--        <i class="fab fa-linkedin-in"></i>-->
<!--      </a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Right &ndash;&gt;-->
<!--  </div>-->
<!--</section>-->

{% endblock %}